/* .home-section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: 2px solid gray;
  border-radius: 10px;
  width: 40vw;
  height: 40vh;
  background-color: rgb(228, 226, 226);
  box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.72);
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-size: 40px;
  font-weight: 700;
}

ol {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  width: 50%;
}

li {
  font-size: 22px;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #218380;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  width: 160px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
} */
