.highscore{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.highscore-main{
  flex-grow: 1;
}

.highscore-section {
  margin: 5% auto 0;
  border: 1px solid gray;
  border-radius: 10px;
  width: 70vw;
  max-width: 400px;
  background-color: rgb(228, 226, 226);
  box-shadow: 5px 5px 9px 2px rgba(0, 0, 0, 0.72);
  padding: 30px;
  text-align: center;
}

.title {
  font-size: 40px;
  font-weight: 700;
}

.oderedList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.listItem {
  font-size: 22px;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #218380;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  width: 160px;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
